@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Utils/functions";
@import "./components/buttons";
@import "./Base/base";
@import "./Base/typo";
@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";

body {
    margin-left: auto;
    margin-right: auto;
}

article {
    padding: $syntax-01;
}



$txt-input-palette: (
active: (
    bg: $colour-primary,border: $colour-primary,txt: $colour-white,
),
focus: (
    bg: $colour-primary,
    border: $colour-primary,
    txt: $colour-white,
),
invalid: (
    bg: $colour-invalid,
    border: $colour-white,
    txt: $colour-white,
)
);


@mixin txt-input-palette($state) {
    $palette: map-get($txt-input-palette, $state);
    border: .1rem solid map-get($palette, border);
    background-color: map-get($palette, bg);
    color: map-get($palette, txt);
}

@each $key, $value in $map {
}