@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/functions";

@import "./components/buttons";

@import "./base/base";
@import "./base/typo";
@import "./base/reset";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";



body {
    margin-left: auto;
    margin-right: auto;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 63px;
    background-color: aqua;
    &__title {
        @include headlogo;
    }
}

footer {
    background-color: $back_footer;
}