html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  text-decoration: none;
  color: #000000;
}

body {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

.head__title {
  position: relative;
  z-index: 2;
  height: 63px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Shrikhand", cursive;
  font-size: 1.875rem;
  font-weight: 400;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
}
.head__title--arrow {
  position: absolute;
  left: 23px;
  margin-top: 10px;
  font-size: 1.1rem;
}
.head__loc {
  z-index: 1;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #EAEAEA;
  font-size: 1rem;
  font-weight: 500;
}
.head__rest-img {
  height: 15.8rem;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.head__rest-img--pal {
  background-image: url(../../assets/images/N_Y88TWmGwA-4.jpg);
}
.head__rest-img--del {
  background-image: url(../../assets/images/N_Y88TWmGwA-3.jpg);
}
.head__rest-img--note {
  background-image: url(../../assets/images/N_Y88TWmGwA-2.jpg);
}
.head__rest-img--alafr {
  background-image: url(../../assets/images/N_Y88TWmGwA-1.jpg);
}

.fa-location-dot {
  position: absolute;
  margin-left: -150px;
}

.intro {
  padding: 40px 0 60px 0;
  background-color: #F7F7F7;
}
.intro__container {
  display: flex;
  flex-direction: column;
}
.intro__title {
  margin: 0 50px 20px 50px;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.intro__subtext {
  margin-bottom: 30px;
  font-size: 1.125rem;
  font-weight: 300;
  text-align: center;
}
.intro__button {
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  padding: 1rem;
  border: none;
  font-size: 1rem;
  font-weight: 500;
}

.fnct {
  padding: 50px 0 70px 0;
  background-color: #ffffff;
  width: auto;
}
.fnct__container {
  width: 334px;
  margin-left: auto;
  margin-right: auto;
}
.fnct__title {
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: 700;
}
.fnct__tile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.fnct__tile {
  display: flex;
  width: 334px;
  padding: 30px 0 30px 0;
  margin-left: 12px;
  border-radius: 20px;
  background-color: #F7F7F7;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
}
.fnct__tile .fa-solid {
  color: #7E7E7E;
  margin-right: 25px;
}
.fnct__tile-nbr {
  margin: 0 25px 0 -12px;
  color: #ffffff;
  background-color: #9356DC;
  padding: 2px 7px 2px 7px;
  border-radius: 20px;
  font-size: 0.875rem;
  font-weight: 500;
}

.rest {
  padding: 55px 0 70px 0;
  background-color: #F7F7F7;
  margin-left: auto;
  margin-right: auto;
}
.rest__title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 700;
}
.rest__tiles {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.rest-container {
  max-width: 334px;
  margin-left: auto;
  margin-right: auto;
}

.menu-head__container {
  width: 341px;
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
}
.menu-head__rest-name {
  font-family: "Shrikhand", cursive;
  font-size: 1.75rem;
  font-weight: 500;
}
.menu-head__coeur {
  font-size: 1.5rem;
  font-weight: 100;
  margin-right: 1px;
}

.menu-container {
  border-radius: 40px 40px 0 0;
  margin-top: -34px;
  padding: 35px 0 0 0;
  max-width: 1055px;
  background-color: #F7F7F7;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  padding: 20px 13px 40px 13px;
  background-color: #F7F7F7;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 634px;
}
.menu__button {
  width: 186px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  padding: 1rem;
  border: none;
  font-size: 1rem;
  font-weight: 500;
}

.menu-part {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu-part__area {
  position: relative;
}
.menu-part__title {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}
.menu-part__title-line {
  margin-top: 5px;
  width: 40px;
  height: 3px;
  background-color: #89C8FA;
}

.menu-tile {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  max-width: 634px;
}
.menu-tile__text {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  padding: 12px 10px 12px 10px;
}
.menu-tile__text--maintext {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-tile__text--subtext {
  font-size: 0.9375rem;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-tile__price {
  background-color: #ffffff;
  width: 60px;
  font-size: 0.9375rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  padding: 0 20px 15px 0;
}
.menu-tile__ok {
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #99E2D0;
}
.menu-tile__ok .fa-circle-check {
  font-size: 1.5em;
  color: #ffffff;
}

.rest-tile {
  width: 335px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.rest-tile__container {
  display: block;
}
.rest-tile__img {
  height: 12.8rem;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.rest-tile__img--img1 {
  background-image: url(../../assets/images/N_Y88TWmGwA-4.jpg);
}
.rest-tile__img--img2 {
  background-image: url(../../assets/images/N_Y88TWmGwA-2.jpg);
}
.rest-tile__img--img3 {
  background-image: url(../../assets/images/N_Y88TWmGwA-1.jpg);
}
.rest-tile__img--img4 {
  background-image: url(../../assets/images/N_Y88TWmGwA-3.jpg);
}
.rest-tile__new {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  color: #008766;
  background-color: #99E2D0;
  font-size: 0.875rem;
  font-weight: 500;
}
.rest-tile__enc {
  padding: 15px 13px 15px 13px;
  background-color: #ffffff;
}
.rest-tile__enc--title {
  font-size: 1.125rem;
  font-weight: 700;
}
.rest-tile__enc--subtext {
  font-size: 1.0625rem;
  font-weight: 300;
}
.rest-tile__enc--coeur {
  position: absolute;
  right: 25px;
  bottom: 33px;
  font-size: 1.2rem;
  font-weight: 100;
}

.footer {
  padding: 22px 25px 35px 25px;
  background-color: #353535;
}
.footer__title {
  margin-bottom: 15px;
  font-family: "Shrikhand", cursive;
  font-size: 1.125rem;
  font-weight: 400;
  color: #ffffff;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__nav--maintext {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
}
.footer__nav--litletext {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}
.footer__nav .fa-solid {
  color: #ffffff;
  margin-right: 5px;
}

@media screen and (min-width: 1112px) {
  .head__rest-img--pal {
    background-image: url(../../assets/images/N_Y88TWmGwA.jpg);
  }
  .head__rest-img--del {
    background-image: url(../../assets/images/N_Y88TWmGwA-3.jpg);
  }
  .head__rest-img--note {
    background-image: url(../../assets/images/N_Y88TWmGwA-2.jpg);
  }
  .head__rest-img--alafr {
    background-image: url(../../assets/images/N_Y88TWmGwA-1.jpg);
  }
  .intro__title {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .fnct__container {
    width: 1072px;
    margin-left: auto;
    margin-right: auto;
  }
  .fnct__tile-container {
    width: 1072px;
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  .rest-container {
    max-width: 1072px;
    flex-direction: row;
  }
  .rest__tiles {
    flex-direction: row;
    gap: 26px;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 70px;
    padding: 52px 100px 43px 25px;
  }
  .footer__title {
    margin-bottom: 0;
  }
  .footer__nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
