@mixin flex-centering-in-bloc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
}

@mixin margin-sides {
    margin-left: 20px;
    margin-right: 20px; 
}