@mixin flex-centering-in-bloc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
}

@mixin margin-sides {
    margin-left: 20px;
    margin-right: 20px; 
}

@mixin margin-sides-menu {
    margin-left: 13px;
    margin-right: 13px; 
}

@mixin flex-centering-menus {
    display: flex;
    flex-direction: column;
    padding: 12px 10px 12px 10px;
}

@mixin flex-centering-menus-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:end;
    padding: 0 20px 15px 0 ;
}