$color-prim: #9356DC;
$color-sec:#ffffff;
$color-ter:#99E2D0;
$deep-green:#008766;
$light-blue:#89C8FA;
$deep-blue:#003A68;
$back-footer:#353535;
$loc-grey:#EAEAEA;
$black-font:#101010;
$background-color:#f3f3f3;